@font-face {
    font-family: 'KyoboHandwriting2023wsa';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'KyoboHandwriting2023wsa', sans-serif;
    text-align: center;
    font-size: 30px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    background-image: url('image/picture.png');
    background-size: cover;
    background-position: center;
    background-attachment: scroll; 
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, .image-container, video {
    opacity: 0;
    transition: opacity 0.5s ease;
    scroll-snap-align: start;
}

.visible {
    opacity: 1;
}

h1 {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    margin-top: 50vh; 
    transform: translateY(-50%);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.image-container p {
    color: #ffffff;
    text-shadow: 0px 0px 5px #b15632;
}

.video-container p {
    color: #ffffff;
    text-shadow: 0px 0px 5px rgb(249, 151, 159);
}

.image-container {
    margin-top: 100px;
    margin-bottom: 100px;
}


img {
    width: 100%;
    height: auto;
}

video {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}